@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: #fff;
    overflow-x: hidden;
}

.head_img_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url('../img/img_top_1.png') no-repeat;
    background-size: cover;
    background-color: #fff; /* Same as the final color of the gradient */
}

.logo_div{
    width: 20rem;
}

.logo_img{
    display: block;
    max-width: 100%;
}

.head_img_text{
    display: block;
    text-align: center;
}

.head_img_text h2{
    font-weight: unset;
    font-size: 2rem;
}

/* ---------------------------------------------*/

.head_text_div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 4rem;
    min-height: 300px;
    margin-left: 8%;
    margin-right: 8%;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.head_text_text h3{
    font-weight: unset;
}
.head_text_text h1{
    font-weight: bolder;
    color: #442D3C;
    font-size: 1.8rem;
}
.head_text_text p{
margin-top: 5%;
}
.head_text_text .btn_download{
    margin-top: 5%;
    padding: 5px;
    border-radius: 40px;
    border: 2px solid #70B54D;
    background-color: #70B54D;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s;
}
.head_text_text .btn_download:hover{
    cursor: pointer;
    color: #70B54D;
    background-color: #fff;
}

.produit_vert_right{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.produit_vert_right div{
    max-width: 120px;
}

.produit_vert_right div img{
    width: 100%;
    height: auto;
}

.img_produit_vert{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
}

.img_rose_div{
    position: relative;
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    gap: 8vw;
    justify-content: center;
}

/* .img_rose_div::before {
    content: "";
    position: absolute;
    inset: 0 calc(50% - 50vw);
    z-index: -1;
} */

.img_rose_div div {
    text-align: center;
}

.img_rose_div div img {
    width: 8rem;
    height: 150px;
    object-fit: contain;
}

.img_rose_div div h3 {
    text-align: center;
    font-weight: unset;
}

.img_rose{
    max-width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.title_category{
    margin: 2% auto 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

/*-------------------------------------------*/

.mid_content_div{
    margin-top: 6rem;
    width: 100%;
}
.title_1_mid_content{
    margin-bottom: 2%;
    margin-left: 8%;
    color: #442D3C;
    font-size: 3rem;
}

.all_mid_content{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    position: relative;
}

/* .all_mid_content::after{
    content: '';
    background-image: url('../img/hexagon_vert.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    left: calc(50% - 50vw);
    z-index: 0;
    transform: translateY(60%);
    width: 483px;
    height: 711px;
} */

.mid_all_content{
    width: 30rem;
}

#consommateur{
    background: url(../img/content_consommateur.png) no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#producteur{
    background: url(../img/content_producteur.png) no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid_content{
    border-radius: 20px;
    border: solid 3px #6DBFA9;
    overflow: hidden;
    position: relative;
    padding: 1.5rem;
    z-index: 1;
    min-height: 400px;
}
.mid_content img{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
    z-index: 1;
    
}

.mid_text_content{
    padding: 25px;
    border-radius: 20px;
    background-color: #FBF39C; /* Couleur avec opacité pour la transparence */
    backdrop-filter: blur(10px); /* Applique le flou */
    position: relative;
    color: black !important;
    z-index: 3;
    text-align: center;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mid_text_content h2{
    margin-bottom: 10%;
    font-size: 1.5em;
    color: #442D3C;
}
.mid_text_content p{
    font-size: large;
}

.mid_content_btn{
    display: block;
    margin: 5% auto;
    border-radius: 50px;
    border: 2px solid #F9B628;
    background-color: #F9B628;
    padding: 5px;
    color: #fff;
    font-size: large;
    transition: all 0.3s;
    position: relative;
    z-index: 1;
}

.mid_content_btn:hover{
    cursor: pointer;
    color: #F9B628;
    background-color: #fff;
}

/* -------------------------------------------*/

.pourquoi_div{
    padding: 60px 0 50px;
    width: 100%;
    border-radius: 16px;
    position: relative;

}
.pourquoi_div.orange{
    margin-top: 5rem;
    background-color: #F3CFB6;
}

.pourquoi_div.orange h2{
    color:#442D3C;
}

.pourquoi_div h2{
    margin-left: 10%;
    
}

.flex_pourquoi_div{
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
}

/* .flex_pourquoi_text, .flex_pourquoi_img{
    flex: 1 1 calc(50% - 30px);
} */

.flex_pourquoi_text{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}

.pourquoi_div.orange .flex_pourquoi_text h3,
.pourquoi_div.orange .flex_pourquoi_text p {
    color: black;
}

.flex_pourquoi_text h3{
    margin-bottom: 3rem;
}

.pourquoi_img{
    width: 100%;
    object-fit: cover;
}


.pourquoi_div .btn_download{
    padding: 15px;
    border-radius: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: white;
    border: 1px solid #F29A79;
    background: #F29A79;
    font-weight: bold;
    font-size: medium;
    cursor: pointer;
    transition: all 0.3s;
}

.pourquoi_div.orange .btn_download{
    color: #F29A79;
    background-color: #fff; 
    border: 2px solid #fff; 
    transition: all 0.3s;
}

.pourquoi_div .btn_download:hover{
    background-color: #fff;  
    color: #F29A79;

}

.pourquoi_div.orange .btn_download:hover{
    background-color: #F29A79;  
    color: #fff;
    }
/*-----------------------------------------*/

.all_equipe_div{
    padding-top: 60px;
    padding-bottom: 60px;
    width:100%;
}

.equipe_div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.all_equipe_div h2{
    color: #F29A79;
    margin-bottom: 75px;
    margin-left: 75px;
}

.equipe_div h4{
    margin-top: 10%;
    text-align: center;
}


.membre_equipe{
    background-color: #F29A79;
    width: 150px;
    height: 150px;
    border-radius: 20px;
    overflow: hidden;
}

.membre_equipe img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.div_form{
    max-width: 70%;
    margin: 0 auto;
    position: relative;
    padding-bottom: 150px;
}
/* .div_form ::before{
    content: '';
    background-image: url('../img/fleur.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -10px;
    left: calc(50% - 50vw);
    z-index: -1;
    height: 300px;
    width: 300px;
} */
/* .div_form ::after{
    content: '';
    background-image: url('../img/ruche.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: -10px;
    right: calc(50% - 50vw);
    z-index: -1;
    width: 250px;
    height: 250px;
} */

.div_form h2{
    color:#F29A79;
    margin-bottom: 50px;

}

.div_form form{
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
}

.div_form form input, .div_form form textarea{

    margin-top: 5px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: #F6F4EB;
}

.div_form form textarea{
    min-height: 150px;
}

#receive_message{
    background-color: #F6F4EB;
}

#capchat{
    background-color: #F6F4EB;
}

.div_form form button{
    margin: 0 auto;
    background-color: #F29A79;
    font-weight: bold;
    border-radius: 40px;
    padding: 15px;
    width: fit-content;
   border: 2px solid #F29A79;
   transition: all 0.3s;
    color: white;
}
.div_form form button:hover{
    background-color: #fff;
    color: #F29A79;
    cursor: pointer;
}

/* Footer */
footer {
    width: 100%;
    background-color: #f9f9f9;
    padding: 0 0;
    position: relative;
    bottom: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

.div_footer {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.div_footer a {
    text-decoration: none;
    color: #777;
    margin-bottom: 0.8rem;
}

.div_footer p {
    color: #777;
    margin-bottom: 0.8rem;
    margin-top: 2rem;
}

.div_footer h3 {
    margin-bottom: 1rem;
}

.footer_col_left h4 {
    color: #6DBFA9;
}

.footer_col_right {
    margin-top: 3%;
    width: 25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer_col_right_1 {
    display: flex;
    flex-direction: column;
    height: 13rem;
}

.footer_col_right_2 {
    display: flex;
    flex-direction: column;
    height: 13rem;
}


/* Css Splide (pour Avis)*/

.splide{
    background-color: #F29A79;
    border-radius: 16px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.splide__slide {
    display: flex;
    justify-content: center;
}

.avis {
    width: 90%;
    /* L'avis occupe 80% de l'espace visible pour laisser un aperçu */
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px;
}

.avis-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.etoiles {
    color: #FFD700;
    /* Couleur or pour les étoiles */
    font-size: 18px;
}

.date {
    font-size: 14px;
    color: #777;
}

.avis-texte {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
    text-align: center;
}

.auteur {
    font-size: 14px;
    color: #555;
    text-align: left;
}

/* Fin du css Splide */


/* CSS panier */

#bloc_panier{
    display: flex; 
    justify-content: center; 
    width: 100%;
}

#imageBack{
    width: 22rem;
    height: 22rem;
    background-image: url("../img/panier_fruit.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#imageFirst{
    background-color: white;
    background-image: url("../img/panier.png");
    background-size: cover; /* Utilise 'cover' ou 'contain' selon ton besoin */
    background-repeat: no-repeat;
    background-position: left center; /* L'image commence à gauche, centrée verticalement */
    width: 100%;
    height: 100%;
    overflow: hidden; /* Cache tout ce qui dépasse de l'image */
    position: relative;
}

@media (max-width: 850px) {
    .head_text_div{
        text-align: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 700px) {
    #imageBack{
        width: 18rem;
        height: 18rem;
    }
}

@media (max-width: 550px) {
    #imageBack{
        width: 15rem;
        height: 15rem;
    }
}

@media (max-width: 400px) {
    #imageBack{
        width: 13rem;
        height: 13rem;
    }
}

/* Fin du css panier */


/* Styles pour les petits écrans */

@media (max-width: 1200px) {
    .prev, .next {
        padding: 8px; /* Réduire le padding des flèches */
        font-size: 20px; /* Réduire la taille du texte */
    }

    .prev {
        left: 5px; /* Ajuster la position à gauche */
    }

    .next {
        right: 5px; /* Ajuster la position à droite */
    }

    .footer_col_right {
        width: 20rem;
    }

    
}

/* Pour rendre la vue responsive */
@media (max-width: 950px) {
    .avis {
        width: 75%;
    }
}

@media (max-width: 830px) {
    .prev, .next {
        transform: translateY(-700%);
        padding: 8px; /* Réduire le padding des flèches */
        font-size: 20px; /* Réduire la taille du texte */
    }
    
    .div_footer {
        justify-content: center;
        text-align: center;
    }

    .footer_col_right {
        width: 30rem;
    }

    .img_rose_div{
        justify-content: space-evenly;
    }

    .head_text_div{
        margin-top: 2rem;
    }
}

/* Pour rendre la vue responsive */
@media (max-width: 750px) {
    .avis {
        width: 95%;
        /* L'avis s'élargit un peu sur mobile */
        padding: 15px;
    }

    .avis-texte {
        font-size: 14px;
    }

    .date,
    .auteur {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .prev, .next {
        transform: translateY(-700%);
        padding: 8px; /* Réduire le padding des flèches */
        font-size: 20px; /* Réduire la taille du texte */
    }

    .prev {
        left: 5px; /* Ajuster la position à gauche */
    }

    .next {
        right: 5px; /* Ajuster la position à droite */
    }

    .head_text_text h1{
        font-size: 1.5em;
    }
}

@media (max-width: 500px) {
    /* .all_mid_content::after{
        width: 300px;
        height: 490px;
        transform: translateY(80%);
    } */
}

/* Styles pour les écrans très petits (ex. : portrait téléphone) */
@media (max-width: 400px) {
    .prev, .next {
        transform: translateY(-850%);
        padding: 6px; /* Réduire encore plus le padding */
        font-size: 18px; /* Réduire encore plus la taille du texte */
    }

    .prev {
        left: 3px; /* Ajuster la position à gauche */
    }

    .next {
        right: 3px; /* Ajuster la position à droite */
    }
}

@media (max-width: 382px) {
    .footer_col_right {
        justify-content: center;
    }
    
    .footer_col_right_1 {
        padding-right: 0;
        height: 11rem;
    }
}

@media (max-width: 310px) {
    .mid_text_content h2{
        font-size: 1.3em;
    }
    /* .div_form ::before{
        width: 200px;
    } */
}