@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* Structuration de la page */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Pour coller le slider au footer */
}


.slider-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #F29A79;
    padding: 0; /* Supprimer le padding */
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 auto; /* Fixe la taille des slides en fonction de la largeur du conteneur */
    width: 80%; /* Largeur en pourcentage */
    margin: 0 2.5%; /* Espacement entre les slides ajusté en pourcentage */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Hauteur des slides */
    position: relative;
}

.avis-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%; /* Taille fixe */
    height: 200px; /* Taille fixe */
    max-width: 100%;
    max-height: 100%;
    position: relative;
    right: 8%;
    text-align: center;
    box-sizing: border-box; /* Inclure padding et border dans les dimensions */
}

.avis{
    display: flex; 
    justify-content: space-between;
}


.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-160%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    z-index: 10; /* Assurez-vous que les flèches sont au-dessus du slider */
}

/* Position des flèches */
.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Changement des flèches au survol */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Footer */
footer {
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

.div_footer {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.div_footer p {
    color: #777;
}

.footer_col_left h4 {
    color: #6DBFA9;
}

.footer_col_right {
    margin-top: 3%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



/* Styles pour les petits écrans */

@media (max-width: 1200px) {
    .prev, .next {
        transform: translateY(-650%);
        padding: 8px; /* Réduire le padding des flèches */
        font-size: 20px; /* Réduire la taille du texte */
    }

    .prev {
        left: 5px; /* Ajuster la position à gauche */
    }

    .next {
        right: 5px; /* Ajuster la position à droite */
    }
}


@media (max-width: 600px) {
    .prev, .next {
        transform: translateY(-700%);
        padding: 8px; /* Réduire le padding des flèches */
        font-size: 20px; /* Réduire la taille du texte */
    }

    .prev {
        left: 5px; /* Ajuster la position à gauche */
    }

    .next {
        right: 5px; /* Ajuster la position à droite */
    }
}

/* Styles pour les écrans très petits (ex. : portrait téléphone) */
@media (max-width: 400px) {
    .prev, .next {
        transform: translateY(-550%);
        padding: 6px; /* Réduire encore plus le padding */
        font-size: 18px; /* Réduire encore plus la taille du texte */
    }

    .prev {
        left: 3px; /* Ajuster la position à gauche */
    }

    .next {
        right: 3px; /* Ajuster la position à droite */
    }
}