@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* Structuration de la page */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Pour coller le slider au footer */
}

/* Slider */
.slider-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    background-color: #F29A79;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

/* Slide configuration */
.slide {
    width: 100%;
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    flex-shrink: 0;
    height: 300px; /* Vous pouvez ajuster cette hauteur selon vos besoins */
}

/* Cadre de l'avis */
.avis-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 80%; /* Taille maximale de l'avis, ajustable */
    text-align: center;
}

.avis-box p {
    font-style: italic;
    color: #555;
    margin-bottom: 10px;
}

.avis-box span {
    font-weight: bold;
    color: #333;
}

/* Flèches */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Footer */
footer {
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

.div_footer {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.div_footer p {
    color: #777;
}

.footer_col_left h4 {
    color: #6DBFA9;
}

.footer_col_right {
    margin-top: 3%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
